* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
	background-color:#20B2AA;
	
}	
p{
	position:absolute;
	top:1000px;
}

#main{
	width:1080px; 
	height:800px;
	background-color:#f6eff6;
    margin:auto;
    position: relative; 
	top: 10px;
    border-radius: 15px;
}
.fundogif {
    width:1080px;
	height:150px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.fundogif img {
    width: 1080px;
	height: 150px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.menu{
	width:1080px;
	height:50px;
	background-color:#00CED1;
	display:table-caption;
	text-align:center;
	border-bottom: #4d9c82 solid 1px;
	border-top: #4d9c82 solid 1px;
}
.menu ul {
	position: relative;
	top: 15px;
}
.menu ul li{
		list-style:none;
		display:inline;
		padding:10px;
		background:#4B0082;	
		border-radius: 10px;
}

.menu ul li a{
	color: #FFFFFF;
	text-decoration:none;	
}

.menu ul li a:hover{
	background-color: #c0c0c0;
	padding:5px;	
}
.rodape {
	color: #FFFFFF;
	width:1080px;
	height:100px;
	background-color:#000000;
	position: absolute; 
	bottom: 0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: center;
}
#conteudo {
	width: 1000PX; height:500PX;
	display: inline-block;
}
.tabelas {
	width: 1000px;
	height: 500px;
	position: absolute; left: 400px; bottom: 50px;
}
.tab ul{
	list-style:none;
	display: inline-block;
	position: absolute;
}
.tab ul li{
	list-style:none;
	display: inline-block;
}
.tab ul li img {
	width:230px;
	height:200px;
	padding-right: 10px;
}

.tab ul li a:hover{
	padding:5px;
	position:center;
}


